@page
@model Log_inModel
<body class="d-flex flex-column justify-content-center">
<div class="container">
    <div class="row d-flex align-items-center">
        
        <div class="col-6 align-items-end ">
            <img src="~/Img/Logo White.svg" width="350" height ="200"/>
         
        </div>
         <div class="col-5 bg-white registration p-0">
             
             <h1 class="pt-5 ps-4 mb-0 ">Log In</h1>
                 <p class="bodyL ps-4 mb-0">New user? <a class="text-decoration-none" href="#" style="color:#0078FF">Create account</a></p>
                
                 <div class="me-5">
                    <p class="bodyS ms-4 mt-4 mb-0" style="color:#575757">E-mail</p>
                    <input class="ms-4 "type="text" placeholder="Write your e-mail here" />
                </div>

                 <div class="me-5">
                     <p class="bodyS ms-4 mt-4 mb-0" style="color:#575757">Password</p>
                     <input class="ms-4 "type="password" />
                     <p class="bodyM mt-2 mb-0" style="text-align:right"> <a class="text-decoration-none"href="#" style="color:#0078FF">Forgot Password</a></p>
                 </div>
                 <div class="d-flex justify-content-end mt-4 me-5">
                     <div class="button">
                         <a class="bodyL mb-0 text-decoration-none" style="color:#ffffff" href="#">Continue</a>
                     </div>
                 </div>
            
        </div>
         <div class="col-1">
        
         </div>
         
    </div>
</div>
</body>