<head>
<link rel="stylesheet" href="~/css/Home.css" />
<link rel="stylesheet" href="~/css/header.css" />
</head>
<section style="margin-top:0px;">
    <div class="block1">
        <div class="row d-flex align-items-center" style="margin-left:5rem;margin-right:5rem;">
            <div class="col-5 d-flex p-0">
                <img src="~/img/block1/block1-paper.svg" style="margin-top:20%; margin-left:20%;" class="img-fluid"/>
            </div>
            <div class="col-1">
            </div>
            <div class="col-6 p-0" style="margin-top:5%;">
                <h1 style="color: #fff;">
                    Trying to find the<br />
                    perfect movie for the <br />
                    perfect moment?
                </h1>
                <div class="col-4 p-0">
                    <div class="button_home" style="margin-top: 32px;">
                        <a class="button_font" style="text-decoration:none; color: #fff;" href="~/Test/test">Go Forward</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block2">
        <div class="text-center">
            <p class="h1_extra mb-4" style="color:#fff;">Who are we?</p>
            <p class="bodyXL" style="color:#fff">
                We are a small group that has an idea that we want to implement,<br />
                and a problem that needs to be solved, that's why we are here<br />
                and we present you our project
            </p>
        </div>
    </div>
</section>

@*~~~~~~~~~~~~~~~HOW TO START~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*@

<section>

    <div class="row d-flex justify-content-center m-0 p-0">
        <div class="col-4">
            <hr />
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div class="h1_extra text-center" style="color:#fff">How to start? <br /> Three easy steps</div>
        </div>
        <div class="col-4">
            <hr />
        </div>
    </div>
</section>
<section>
    <div class="row d-flex" style="justify-content:space-between">
        <div style="margin-left:10%;">
            <div class="h1_extra">
                1.<br />
                Register
            </div>
            <div style="margin-top:32px;">
                <h4>Create your pesonal<br />account and go on</h4>
            </div>
        </div>
        <div class="d-flex" style="margin-right:10%;">
            <img src="~/img/block3/twin_phones.svg" class="img-fluid"/>
        </div>
    </div>
</section>
<section>
    <div class="row d-flex" style="justify-content:space-between;">
        <div style="margin-left:10%;">
            <div class="h1_extra">
                2.<br />
                Complete test
            </div>
            <div style="margin-top:32px;">
                <h4>Let us know what you prefer</h4>
            </div>
        </div>
        <div class="d-flex" style="margin-right:15%;">
            <img src="~/img/block3/text.png" style="height:90%" />
        </div>
    </div>
</section>
<section style="margin-top:200px;">
    <div class="row d-flex" style="justify-content:space-between">
        <div style="margin-left:10%;">
            <div class="h1_extra">
                3.<br />
                Start wathing
            </div>
            <div style="margin-top:32px;">
                <h4>Relax and enjoy the film</h4>
            </div>
        </div>
        <div class="d-flex" style="margin-right:10%;">
            <img src="~/img/block3/film.svg" class="img-fluid" />
        </div>
    </div>
</section>
<section>
    <div class="row d-flex justify-content-center m-0 p-0">
        <div class="col-5">
            <hr />
        </div>
        <div class="col-2 d-flex justify-content-center">
            <div class="h1_extra text-center" style="color:#fff; margin-top:5%;">Features</div>
        </div>
        <div class="col-5">
            <hr />
        </div>
    </div>
</section>
<section>
    @* Line 1*@
    <div class="row justify-content-between">
        <div class="col-1">
        </div>
        <div class=" col-3 features">
            <h3 style="margin-bottom:0.5rem;">Pick a movie?<br /> We can!</h3>
            <p class="bodyL">Our service, created specifically to save your time, can easily cope with this task. Have fun!</p>
        </div>
        <div class="col-3 features">
            <h3 style="margin-bottom:0.5rem;">We are unique!</h3>
            <p class="bodyL">Our service does not have a full-fledged analogue ;) Please understand and forgive the developers for their mistakes and shortcomings. We have no one to take an example from, because we are unique.</p>
        </div>
        <div class="col-1">
        </div>
    </div>
    @* Line 2*@
    <div class="row justify-content-between" style="margin-top:64px;">
        <div class="col-1">
        </div>
        <div class=" col-3 features">
            <h3 style="margin-bottom:0.5rem;">Our service is completely <br /> FREE to use!</h3>
            <p class="bodyL">We are well aware that times are hard now, and money is earned with even more <br /> difficulty than before.</p>
        </div>
        <div class="col-3 features">
            <h3 style="margin-bottom:0.5rem;">We’re a young<br /> development team!</h3>
            <p class="bodyL">This service was created by a team of 2 people under the age of twenty. We hope you enjoy :)</p>
        </div>
        <div class="col-1">
        </div>
    </div>
</section>
<section>
    <div class="contact_us img-fluid" style="height:700px;">
        <div>
            <h2 class="d-flex justify-content-center" style="color:white;">Become a part of community right now!</h2>
            <div class="button_home" style="margin:32px auto auto;">
                <a class="bodyXL" style="color:white;text-decoration:none;" href="~/Test/test">Start my way</a>
            </div>
        </div>
    </div>
</section>

@section HomeScripts{
<script src=""></script>
}

@section headerScripts{
<script src=""></script>
}