<head>
    <link rel="stylesheet" href="~/css/test.css" />
    <link rel="stylesheet" href="~/css/header.css" />
   <title>@ViewData["Title"]Test</title>
</head>
<div class="bg">
    <section>
        <h1 class="d-flex justify-content-center" style="color:#fff;">What genre do you prefer?</h1>
        <p class="d-flex justify-content-center bodyS" style="color:#fff;">By the way, you can choose a few ;)</p>
        <div class="row justify-content-center mt-5">
            <div class="text-center">
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Action</span>
                </label>

                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Adventure</span>
                </label>

                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Cartoon</span>
                </label>

                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Comedy</span>
                </label>
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Criminal</span>
                </label>
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Drama</span>
                </label>
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Fantasy</span>
                </label>
            </div>
        </div>
        <div class="justify-content-center mt-3">
            <div class="text-center">
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Historical</span>
                </label>
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Horor</span>
                </label>
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Science fiction</span>
                </label>
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Thriller</span>
                </label>
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Western</span>
                </label>
            </div>

        </div>
        <div class="d-flex justify-content-between">
            <img src="~/img/Test/roflanebaloleft.png" />
            <img src="~/img/Test/roflanebaloright.png" />
        </div>
    </section>

    <section style="margin:0px;">
        <h1 class="d-flex justify-content-center" style="color:#fff;">Whith country is it from?</h1>
        <div class="row justify-content-center mt-5">
            <div class="col-1"></div>
            <div class="col-10 text-center">
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>England</span>
                </label>
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Russia</span>
                </label>
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>Turkey</span>
                </label>
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>French</span>
                </label>
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span>America</span>
                </label>
            </div>
            <div class="col-1"></div>
        </div>
    </section>
    <section>
        <h1 class="d-flex justify-content-center" style="color:#fff;">Do you like musicals?</h1>
        <p class="d-flex justify-content-center bodyS" style="color:#fff;">We don’t ;)</p>
        <div class="row justify-content-center mt-5">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <label class="checkbox-btn">
                    <input type="checkbox" disabled>
                    <span>Yes</span>
                </label>
                <label class="checkbox-btn">
                    <input type="checkbox">
                    <span data-tooltip="Правильный выбор">No</span>
                </label>
            </div>
            <div class="col-4"></div>
        </div>
    </section>
    <section>
        <div class="d-flex justify-content-center">
            <div class="button_home" style="color:#fff;">
                <div>
                    <a class="bodyXL" href="~/film/film" style="color:#fff;">Move forward!</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="d-flex justify-content-between mr-5 ml-5" style="opacity:0.1;">
            <a class="easteegg effect" href="~/Easteregg/design">Design</a>
            <a class="easteegg effect" href="~/Easteregg/programming">Programming</a>
        </div>
    </section>

</div>

@section headerScripts{
    <script src=""></script>
}
    @*<label class="checkbox-btn">
                <input type="checkbox" disabled>
                <span>Comedy</span>
            </label>*@