<head>
     <link rel="stylesheet" href="~/css/header.css" />
     <link rel="stylesheet" href="~/css/Home.css"/>
     <title>@ViewData["Title"]Easter egg</title>

</head>
<section class="d-flex justify-content-center" style="margin-bottom:100px;">
    <img src="~/img/Egg/programming.png" />
</section>