<head>
    <link rel="stylesheet" href="~/css/header.css"/>
    <link rel="stylesheet" href="~/css/film.css"/>
    <title>@ViewData["Title"]Film Page</title>
</head>
<section>
    <div class="block1_bg d-flex justify-content-center align-items-center">
    <h1>Your perfect film is...</h1>
    </div>
</section>
<section class="bg_main">
    <div style="margin-top:400px;">

    </div>
</section>


@section headerScripts{
    <script src=""></script>
}