

@model _222.ViewModels.LoginViewModel
<head>
    <link rel="stylesheet" href="wwwroot/css/Home.css" />
</head>
<body class="bg d-flex flex-column justify-content-center">
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <div class="container">
            <div class="row d-flex ">

                <div class="col-6 d-flex align-items-center ">
                    <img src="~/Img/Logo White.svg" width="350" height="200" />

                </div>
                <div class="col-5 bg-white registration p-0">



<section class="bg d-flex flex-column justify-content-center">
    <div class="container">
        <div class="row d-flex ">

            <div class="col-6 d-flex align-items-center justify-content-center">
                <img src="~/Img/header/logo.svg" width="100" height="100" />

            </div>
            <div class="col-5 bg-white registration p-0">


                    <h1 class="pt-5 pl-4 mb-0 ">Log In</h1>
                    <p class="bodyL pl-4 mb-4">New user? <a class="text-decoration-none" href="~/Account/Registration" style="color:#0078FF">Create account</a></p>

                    <div>
                        <label asp-for="Email" class="bodyS ml-4 " style="color:#575757">E-mail</label>
                        <input asp-for="Email" class="ml-4" type="text" placeholder="Write your e-mail here" />
                    </div>


                    <div class="me-5">
                        <label asp-for="Password" class="bodyS ml-4 mt-4 mb-2" style="color:#575757">Password</label>
                        <input asp-for="Password" class="ml-4 " type="Password" />
                        <p class="bodyM mt-2 m-4" style="text-align:right"> <a class="text-decoration-none" href="#" style="color:#0078FF">Forgot Password</a></p>
                    </div>
                    <div class="d-flex justify-content-end mt-4 mr-4">
                        <div class="button">
                            <input type="submit" value="Continue" class="button bodyL mb-0 text-decoration-none" style="color:#fff">
                           
                        </div>


                <div class="me-5">
                    <label class="bodyS ml-4 mt-4 mb-2" style="color:#575757">Password</label>
                    <input class="ml-4 " type="password" />
                    <p class="bodyM mt-2 m-4" style="text-align:right"> <a class="text-decoration-none" href="#" style="color:#0078FF">Forgot Password</a></p>
                </div>
                <div class="d-flex justify-content-end mt-4 mr-4">
                    <div class="button">
                        <a class="bodyL mb-0 text-decoration-none" style="color:#ffffff" href="~/Home/Home">Continue</a>


                    </div>

                </div>
                <div class="col-1">

                </div>

            </div>
        </div>

    </form>
</body>


    </div>
</section>
@section AccountStyles {
    <link rel="stylesheet" href="~/css/Account.css" />
}

@section AccountScripts{
    <script src=""></script>
}

