
<head>
    <link rel="stylesheet" href="wwwroot/css/Account.css" />
</head>
<body class="bg d-flex flex-column justify-content-center">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">

            <div class="col-6 d-flex justify-content-center">
                <img src="~/Img/Logo White.svg" width="350" height="200" />

            </div>
            <div class="col-5 bg-white registration p-0">

                <h1 class="pt-5 pl-4 mb-0">Register</h1>
                <p class="bodyL pl-4 mb-0">Already have an account? <a class="text-decoration-none" href="~/Account/Log_in" style="color:#0078FF">Log In</a></p>

                <div class="ml-4">
                    <p class="bodyS ms-4 mt-4 mb-0" style="color:#575757">E-mail</p>
                    <input type="text" placeholder="Write your e-mail here" />
                </div>

                <div class="mr-4 reg_block">
                    <label class="bodyS ml-4 mt-4 mb-0" style="color:#575757">Password</label>
                    <input class="ml-4 " type="password" />
                    <label class="bodyS ml-4 mt-4 mb-0" style="color:#575757">Password confirmation</label>
                    <input class="ml-4 " type="password" />
                    <label class="bodyS ms-4 ml-4 mb-0 w-100" style="color:#575757">Date of birth</label>
                    <input class="ml-4 data_input" type="date" style="color:#7A7A7A" />
                    <div class="bodyS mt-5 ml-4">
                        <p class="mb-0">By clicking "Create an account", I confirm that I have read the provisions specified in the <a class="text-decoration-none" style="color:#0078FF " href="#">Terms of Use</a> and <a class="text-decoration-none" style="color:#0078FF " href="#">Privacy Policy</a>.</p>
                    </div>
                    <div class="d-flex justify-content-end mt-4 me-5">
                        <div class="button">
                            <a class="bodyL mb-0 text-decoration-none" style="color:#ffffff" href="#">Create an account</a>
                        </div>
                    </div>

                </div>
                <div class="col-1">
                </div>

            </div>
        </div>
    </div>
</body>